@font-face {
    font-family:Graphik ;
    src: url(../Fonts/GraphikMedium.otf);
}
@font-face {
    font-family: GraphikLight;
    src: url(../Fonts/GraphikLight.otf);
}
@font-face {
    font-family: GraphikThin;
    src: url(../Fonts/GraphikExtralight.otf);
}
.container{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    
}
.container form{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 450px;
    box-shadow: 0 0px 8px 0.5px rgba(141, 135, 135, 0.25);
}
.container form h3{
    font-family: Graphik;
    color:#4D59CA;
    text-align: center;
}
.container form label:first-of-type{
    margin-top: 8px;
}
.container form label{
    font-family: GraphikLight;
    display: inline-block;
    margin: 20px 0 3px 0;
    color: #6B6C6D;
  
}

.container form input,.container form select{
border: 1px solid #6B6C6D;
border-radius: 15px;
height: 1.86rem;
padding: 0 0.5rem ;
width: 100%;
font-family: GraphikThin;
color:#6B6C6D;
}
.container form select{
    text-align: center;
    font-size: 95%;
}
.container input::placeholder{
    color:#6B6C6D;
    font-family: GraphikThin;
    font-size: medium;
}

.container .star{
    color: red;
}
.container form select option{
    color: #6B6C6D;

}
.container form  .errorText{
color:red;
font-size: small;
font-family: GraphikLight;
}
.container .button{
    text-align: center;
}
.container form button{
    background-color:#7C84E9 ;
    color: white;
    margin: 40px 0 20px 0;
    border: 1px solid #6B6C6D;
    border-radius: 15px;
width: 9rem;
height: 2.2rem;
font-family: Graphik;
}
.container form button:hover{
    color:#7C84E9;
    background-color: white;
}
.container form .button p{
    color: #6B6C6D;
    font-family: GraphikThin;
    font-size: 80%;
}
.container form .button a{
    color:#4D59CA;
    font-size: 100%;
}
.container form button:disabled{
    background-color: #B8BFC6;
    color: white;
    border: none;
    
    }
.container form button:disabled:hover{
      background-color: #B8BFC6;
      border: none;
      box-shadow: none;
      cursor: not-allowed;
    }
@media (max-width:600px) {
    .container{
        margin-top: 2px;
    }
    .container form{
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
    .container form h3{
        font-size: 120%;
    }
    .container form label{
        font-size: 120%;
    }
    .container form input,.container form select{
        height: 2.4rem;

    }
  .container form select{
    font-size: 120%;
  }
    .container form input::placeholder{
        font-size: 110%;
    }
    .container form button{
        width: 12rem;
        height: 2.7rem;
     
        font-size: 120%;
    }
}

