.button {
  width: 9rem;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #707070;
  color:#7C84E9 ;
  background: #FFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10px;
}

.button:focus {
  outline: none;
}
.button:disabled{
background-color: #B8BFC6;
color: white;
border: none;

}
.button:disabled:hover{
  background-color: #B8BFC6;
  border: none;
  box-shadow: none;
  cursor: not-allowed;
}
.button:hover,
.button:active {
  background: #7C84E9;
  color: #F1F2F9;
  border-color: #F1F2F9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
 @media (max-width: 750px) {
    .button{width: minmax(auto,9rem);}
   }